.auth-page{
    min-height:calc(100vh - 80px);
    background:#E3EBDA;
    display:flex;
    align-items:center;
    justify-content:center;
}

.auth-box{
    background:white;
    padding:45px 40px;
    width:420px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    text-align:center;
}

.auth-box h2{
    margin-bottom:25px;
    font-size:26px;
    color:#2f7d1a;
}

.auth-box input{
    width:100%;
    padding:14px 18px;
    border-radius:25px;
    border:1px solid #ccc;
    margin-bottom:15px;
    font-size:15px;
    outline:none;
}

.auth-links{
    text-align:right;
    margin-bottom:15px;
}

.auth-links a{
    color:#f05a00;
    font-weight:bold;
    text-decoration:none;
    font-size:14px;
}

.btn-orange{
    width:100%;
    background:#f05a00;
    border:none;
    padding:14px;
    border-radius:30px;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.btn-orange:hover{
    background:#d94f00;
}

.auth-switch{
    margin-top:20px;
    font-size:14px;
}

.auth-switch a{
    color:#f05a00;
    font-weight:bold;
    text-decoration:none;
}
