*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#eef4e3;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    width: 45px;
}

.logo-text {
    font-size: 26px;
    font-weight: bold;
    background: linear-gradient(to right, #2f7d1a, #7fbf2f, #f4a300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

/* MENU */
.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #2f7d1a;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.4px;
    position: relative;
}

.menu a.active {
    color: #f05a00;
    font-weight: 900;
}

/* RIGHT */
.right-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    background: #e5f2d5;
    border-radius: 30px;
    padding: 3px;
}

.search-box input {
    padding: 8px 15px;
    border: none;
    outline: none;
    background: transparent;
    width: 220px;
}

.search-box button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: #2f7d1a;
    color: white;
    cursor: pointer;
}

/* ICON */
.icon-circle {
    width: 40px;
    height: 40px;
    background: #2f7d1a;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* LOGIN */
.login-btn {
    background: orange;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* ===== BREADCRUMB ===== */
.breadcrumb{
    padding:15px 40px;
    background:#f6f6f6;
    font-size:14px;
}

.breadcrumb span{
    color:#4d7c0f;
    font-weight:600;
}

/* ===== PRODUCT ===== */
.product-container{
    display:flex;
    gap:40px;
    padding:40px;
}

/* LEFT */
.product-images{
    width:40%;
    background:white;
    padding:20px;
    border-radius:15px;
}

.main-img{
    width: 60%;          
    max-width: 320px;    
    display: block;
    margin: 0 auto;      
    border-radius:10px;
}

.thumbs{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.thumbs img{
    width:110px;
    height:110px;
    object-fit:contain;
    border:2px solid #ccc;
    border-radius:12px;
    background:#fff;
    padding:8px;
    cursor:pointer;
    transition:0.2s ease;
}
.thumbs img.active {
    border:4px solid #4d7c0f;   
    box-shadow:0 0 10px rgba(77,124,15,0.5); 
    transform:scale(1.05);
}

/* RIGHT */
.product-info{
    width:60%;
    background:white;
    padding:30px;
    border-radius:15px;
}

.product-info h1{
    color:#4d7c0f;
    margin-bottom:10px;
}

.desc{
    color:#555;
    margin-bottom:15px;
}

.price{
    font-size:28px;
    font-weight:bold;
    color:#ff6a00;
    margin-bottom:20px;
}

.option{
    margin-bottom:15px;
}

.option label{
    display:block;
    font-weight:600;
    margin-bottom:8px;
}

.sizes button{
    padding:8px 14px;
    margin-right:8px;
    border-radius:8px;
    border:1px solid #ccc;
    cursor:pointer;
}

.sizes .active{
    border:2px solid #4d7c0f;
    color:#4d7c0f;
}

.sizes button:disabled{
    text-decoration:line-through;
    color:#aaa;
}

.qty{
    display:flex;
    align-items:center;
    gap:10px;
}

.qty button{
    width:32px;
    height:32px;
    border-radius:6px;
    border:1px solid #ccc;
    cursor:pointer;
}

.total{
    margin:15px 0;
}

.actions{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.add-cart{
    background:#ff6a00;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:25px;
    cursor:pointer;
}

.buy-now{
    background:#4d7c0f;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;
    
}

.buy-now i{
    margin-right:8px;
    font-size:16px;
}


.policy{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap:12px;
    column-gap:30px;
}

.policy li{
    display:flex;
    align-items:center;
    gap:10px;

    line-height:1.4;       
    overflow:visible;
}

.policy i{
    font-size:20px;       
    color:#4d7c0f;

    width:24px;            

    line-height:24px;     
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

