/* ================= HEADER ================= */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background:white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    width: 45px;
}

.logo-text {
    font-size: 26px;
    font-weight: bold;
    background: linear-gradient(to right, #2f7d1a, #7fbf2f, #f4a300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

/* MENU */
.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #2f7d1a;

    font-weight: 800;       
    font-size: 20px;        

    letter-spacing: 0.4px; 
    position: relative;
}

/* RIGHT */
.right-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    background: #e5f2d5;
    border-radius: 30px;
    padding: 3px;
}

.search-box input {
    padding: 8px 15px;
    border: none;
    outline: none;
    background: transparent;
    width: 220px;
}

.search-box button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: #2f7d1a;
    color: white;
    cursor: pointer;
}

/* ICON */
.icon-circle {
    width: 40px;
    height: 40px;
    background: #2f7d1a;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* LOGIN */
.login-btn {
    background: orange;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eef3e7;
}

/* breadcrumb */
.breadcrumb{
    padding:15px 40px;
    font-size:18px;
    font-weight:600;
}
.breadcrumb a{
    text-decoration:none;
    color:#2f7d1a;
}

/* Khi hover */
.breadcrumb a:hover{
    text-decoration: underline;
}

/* Khi đang click */
.breadcrumb a:active{
    text-decoration: underline;
}

.breadcrumb span{
    color:#000;
}

/* layout */
.cart-container{
    width:90%;
    margin:20px auto 50px;
    display:flex;
    gap:25px;
}

/* LEFT */
.cart-left{
    flex:3;
    background:#f3f7ee;
    padding:20px;
    border-radius:15px;
}

.cart-left h2{
    margin-bottom:15px;
}

.select-all{
    margin-bottom:20px;
    font-weight:600;
    color:#2f7d1a;
}

.cart-item{
    background:#fff;
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-radius:15px;
    margin-bottom:15px;
}

.cart-item img{
    width:90px;
}

.item-info{
    flex:1;
}

.item-info h3{
    font-size:16px;
    margin-bottom:5px;
}

.item-info p{
    font-size:14px;
    color:#666;
}

.price{
    display:block;
    color:#ff3c00;
    font-size:18px;
    font-weight:bold;
    margin-top:5px;
}

/* quantity */
.quantity{
    display:flex;
    align-items:center;
    gap:5px;
}

.quantity button{
    width:30px;
    height:30px;
    border:none;
    background:#ddd;
    cursor:pointer;
    border-radius:5px;
}

.quantity input{
    width:35px;
    text-align:center;
    border:1px solid #ccc;
    height:30px;
}

/* delete */
.delete{
    color:red;
    cursor:pointer;
    font-size:18px;
}

/* total */
.cart-total{
    display:flex;
    justify-content:flex-end;
    margin-top:15px;
    font-size:20px;
    font-weight:600;
}

.cart-total strong{
    color:red;
    margin-left:10px;
}

/* buttons */
.cart-buttons{
    text-align:center;
    margin-top:20px;
}

.btn-pay{
    background:#ff6600;
    color:#fff;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    font-size:16px;
    cursor:pointer;
    margin-bottom:10px;
}

.btn-update{
    background:none;
    border:none;
    color:#2f7d1a;
    font-weight:600;
    cursor:pointer;
}

/* RIGHT */
.cart-right{
    flex:1.2;
}

.policy-box{
    background:#fff;
    padding:18px;
    border-radius:15px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.policy-box h4{
    color:#2f7d1a;
    margin-bottom:10px;
    font-size:15px;
}

.policy-box p{
    font-size:14px;
    margin-bottom:6px;
}

/* ===== CHECKBOX ===== */
.select-all input,
.cart-item input[type="checkbox"]{
    width:18px;
    height:18px;
    cursor:pointer;
    accent-color:#2f7d1a;
    margin-right:10px;
}