*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#E3EBDA;
}

/* HEADER */
.auth-header{
    height:80px;
    padding:0 60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:bold;
}

.logo img{
    width:42px;
}

.logo span{
    font-size:20px;
    font-weight:bold;
    background: linear-gradient(to right,#2f7d1a,#7fbf2f,#f4a300);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.back-shop{
    text-decoration:none;
    color:#3b6b17;
    font-weight:bold;
    display:flex;
    align-items:center;
    gap:8px;
}

/* PAGE */
.auth-page{
    min-height:auto;     
    display:grid;
    grid-template-columns:1.2fr 1fr;
    padding:0 8%;
    gap:40px;
    padding-top:40px;
    padding-bottom:20px; 
}


/* LEFT */
.auth-left h1{
    font-size:42px;
    font-weight:700;
    color:#3b6b17;
    margin-bottom:14px;
}

.auth-left h1 span{
    color:#f05a00;
}

.auth-left p{
    max-width:480px;
    color:#555;
    font-size:15px;
    line-height:1.6;
    margin-bottom:35px;
}

.pet-frame{
    width:320px;
    height:320px;
    background:#f2eddc;
    border-radius:25px;
    padding:18px;
    margin-left:40px;
}

.pet-frame img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:18px;
}

/* RIGHT */
.auth-box{
    background:white;
    padding:28px 35px 0;
    width:420px;
    border-radius:30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    margin-top:25px;
}

.auth-box h2{
    text-align:center;
    font-size:26px;
    font-weight:700;
    margin-bottom:6px;
}

.subtitle{
    display:block;
    text-align:center;
    color:#777;
    font-size:14px;
    line-height:1.5;
    margin-bottom:25px;
}

/* OTP */
.otp-group{
    display:flex;
    justify-content:space-between;
    margin-bottom:18px;
}

.otp-group input{
    width:48px;
    height:48px;
    border-radius:50%;
    border:2px solid #ddd;
    text-align:center;
    font-size:18px;
    font-weight:700;
    outline:none;
}

.otp-group input:focus{
    border-color:#7fbf2f;
}

/* BUTTON */
.btn-login{
    width:100%;
    background:#f05a00;
    border:none;
    padding:14px;
    border-radius:35px;
    color:white;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
    margin-bottom:12px;
}

.btn-login:hover{
    background:#d94f00;
}

/* SWITCH */
.auth-switch{
    text-align:center;
    font-size:14px;
    margin-bottom:6px;
}

.auth-switch a{
    color:#f05a00;
    font-weight:700;
    text-decoration:none;
}

/* FOOTER */
.auth-footer{
    height:30px;
    display:flex;
    justify-content:center;
    gap:30px;
    align-items:center;
    font-size:14px;
}

.auth-footer a{
    color:#777;
    text-decoration:none;
}
